langchain
python-dotenv
openai
chromadb
tiktoken
faiss-cpu
sentence-transformers
beautifulsoup4
requests
pandas
numpy
jupyter
langchain_openai

pip install wikipedia

pip install langchain-experimental
pip install networkx
